<form method="POST" class="login" role="form" name="form">
    <fieldset>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
            <input type="text" name="empId" id="empId" class="form-control" placeholder="empId" required>
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
            <input type="text" name="loginId" id="loginId" class="form-control" placeholder="User ID" required>
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
            <input type="text" name="loginId" id="loginId" class="form-control" placeholder="User ID" required>
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
            <input type="text" name="loginId" id="loginId" class="form-control" placeholder="User ID" required>
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
            <input type="text" name="loginId" id="loginId" class="form-control" placeholder="User ID" required>
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
            <input type="text" name="loginId" id="loginId" class="form-control" placeholder="User ID" required>
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
            <input type="text" name="loginId" id="loginId" class="form-control" placeholder="User ID" required>
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
            <input type="text" name="loginId" id="loginId" class="form-control" placeholder="User ID" required>
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
            <input type="text" name="loginId" id="loginId" class="form-control" placeholder="User ID" required>
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
            <input type="text" name="loginId" id="loginId" class="form-control" placeholder="User ID" required>
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
            <input type="text" name="loginId" id="loginId" class="form-control" placeholder="User ID" required>
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
            <input type="text" name="loginId" id="loginId" class="form-control" placeholder="User ID" required>
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
            <input type="text" name="loginId" id="loginId" class="form-control" placeholder="User ID" required>
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
            <input type="text" name="loginId" id="loginId" class="form-control" placeholder="User ID" required>
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
            <input type="text" name="loginId" id="loginId" class="form-control" placeholder="User ID" required>
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
            <input type="text" name="loginId" id="loginId" class="form-control" placeholder="User ID" required>
        </div>
        <br>
        <div id="loginButton">
            <button id="loginbutton" type="submit" class="btn btn-submit btn-md" (click)='employee(empId, firstName, lastName, birthDate,officialEmail,personalEmail,designation,state,joiningDate,leavingDate,experience,bloodGroup,mobileNo,altMobileNo,bankAccNo,IdType,IdNo,presentAddress,permanentAddress,orgId,password)'>ADD</button>
        </div>
    </fieldset>
</form>
