<form method="POST" class="login" role="form" name="form">
    <fieldset>
        <h1 class="legend">Welcome To Simbot!</h1>
        <br>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
            <input type="email" name="loginId" id="loginId" class="form-control" placeholder="User ID" required>
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
            <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
        </div>
        <br>
        <div id="loginButton">
            <button id="loginbutton" type="submit" class="btn btn-submit btn-md" (click)='login(loginId.value,password.value)'>Login</button>
        </div>
    </fieldset>
</form> 
